.bubble_animated_index_presentation_first {
	transform: translateX(0px) scale(1);
	animation: float_circle_first 40s ease-in-out infinite;
}

.square_animated_index_presentation_first {
	transform: translateX(0px) translateY(0px) rotate(-10deg);
	animation: float_square_first 50s ease-in-out infinite;
}

@keyframes float_circle_first {
	0% {
    transform: translateX(0px) scale(1);
	}
	50% {
	  transform: translateX(-80px) scale(0.5);
	}
	100% {
    transform: translateX(0px) scale(1);
	}
}

@keyframes float_square_first {
	0% {
    transform: translateX(0px) translateY(0px) rotate(-10deg);
	}
	50% {
    transform: translateX(50px) translateY(-85vh) rotate(108deg);
	}
	100% {
    transform: translateX(0px) translateY(0px) rotate(-10deg);
	}
}