.article {
    padding: 2em 1em;
    border-bottom: 4px solid var(--border_color);
    .title_article {
        font-size: 1.5em;
        font-weight: 500;
        position: relative;
        &::first-letter {
            color: var(--primary_color);
            font-size: 1.7em;
        }
        &:after {
            position: absolute;
            top: 0.5em;
            left: -0.5em;
            content: '';
            background-color: var(--border_color);
            width: 1.7em;
            height: 1.7em;
            border-radius: 100px;
        }
    }
    .text_article {
        line-height: 1.7em;
        color: var(--font_color_secondary);
    }
    .data_article_container {
        margin-top: 2em;
        display: grid;
        grid-template-columns: 0.9fr;
        justify-content: center;
        width: 100%;
        gap: 2em;
        .data_article {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2em;
            span {
                background-color: var(--background_color_secondary);
                border-radius: 15px;
                padding: 1em 2em;
            }
        }
    }
}