@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor1: #6f40d7;
  --primaryColor2: #74d2fe;
  --backgroundColor: #000222;
  --normalFontColor: #b9b9b9;
  --titleFontColor: #fffffe;
  --shadowColor: #7040d767;

  background-color: var(--backgroundColor);
  color: var(--normalFontColor);
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}



body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: var(--backgroundColor);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--primaryColor2), var(--primaryColor1));
  border-radius: 20px;       /* roundness of the scroll thumb */
}
