.width_height_photo_border {
	width: calc(300px - 20px);
	height: calc(310px - 20px);
}
@media (max-width: 427px) {
	.width_height_photo_border {
		width: calc(270px - 20px);
		height: calc(280px - 20px);
	}
}