:root {
    --font_family: 'Poppins', sans-serif;
    --background_color: rgb(12, 12, 12);
    --background_color_secondary: rgba(75, 75, 75, 0.274);
    --font_color: rgb(240, 240, 240);
    --font_color_secondary: rgb(180, 180, 180);
    --primary_color: rgb(255, 190, 13);
    --primary_color_hover: rgb(255, 237, 189);
    --border_color: rgba(107, 107, 107, 0.274);
}