:root {
    --font_family: 'Poppins', sans-serif;
    --background_color: rgb(12, 12, 12);
    --background_color_secondary: rgba(75, 75, 75, 0.274);
    --font_color: rgb(240, 240, 240);
    --font_color_secondary: rgb(180, 180, 180);
    --primary_color: rgb(255, 190, 13);
    --primary_color_hover: rgb(255, 237, 189);
    --border_color: rgba(107, 107, 107, 0.274);
}

.primary_theme {
    --font_family: 'Poppins', sans-serif;
    --background_color: rgb(12, 12, 12);
    --background_color_secondary: rgba(75, 75, 75, 0.274);
    --font_color: rgb(240, 240, 240);
    --font_color_secondary: rgb(180, 180, 180);
    --primary_color: rgb(255, 190, 13);
    --primary_color_hover: rgb(255, 237, 189);
    --border_color: rgba(107, 107, 107, 0.274);
}

.light_theme {
    --font_family: 'Poppins', sans-serif;
    --background_color: rgb(240, 240, 240);
    --background_color_secondary: rgba(192, 192, 192, 0.274);
    --font_color: rgb(12, 12, 12);
    --font_color_secondary: rgb(107, 107, 107);
    --primary_color: rgb(0, 47, 255);
    --primary_color_hover: rgb(164, 204, 255);
    --border_color: rgba(134, 134, 134, 0.274);
}

.desert_theme {
    --font_family: 'Poppins', sans-serif;
    --background_color: #E7D9C1;
    --background_color_secondary: #d3c2a7;
    --font_color: #000000;
    --font_color_secondary: #333333;
    --primary_color: #B70101;
    --primary_color_hover: #b70101a9;
    --border_color: #b7010148;
}

.rainy_theme {
    --font_family: 'Poppins', sans-serif;
    --background_color: rgb(38, 40, 43);
    --background_color_secondary: rgba(173, 173, 173, 0.274);
    --font_color: rgb(138, 189, 255);
    --font_color_secondary: rgb(205, 248, 255);
    --primary_color: rgb(255, 251, 0);
    --primary_color_hover: rgb(249, 255, 191);
    --border_color: rgba(0, 89, 255, 0.274);
}

.eight_theme {
    --font_family: 'Poppins', sans-serif;
    --background_color: rgb(44, 15, 90);
    --background_color_secondary: rgba(129, 79, 145, 0.274);
    --font_color: rgb(255, 255, 255);
    --font_color_secondary: rgb(185, 185, 185);
    --primary_color: rgb(255, 111, 111);
    --primary_color_hover: rgb(255, 206, 206);
    --border_color: rgba(189, 109, 255, 0.274);
}